body{
     font-family: cursive;
    margin: 0;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}
body .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    width: 550px;
    margin-right: 100px;
    height: 100vh;
    margin-top: 100px;
    
 
 
}
.sty2{
    width: 100%;
   
    padding: 20px;
}
.intsty{
    padding: 10px 20px;
    width: 50%;
    outline: none;
    border: 2px solid white;
    
    transition: 0.3s;
    margin-bottom: 8px;
}
.intsty:focus{
    border: 2px solid #A9543F;
}
.log{
   
    margin-top: 40px;
}
@media screen and (max-width:768px){
 body .container {
       width: 350px;
       margin-top: 40px;
      }
      .sty2{
        width: 50%;
      }
      .intsty{
        width: 30%;
      }
  }
