.head{
    background-image: url('../../../../Images/header/1117d2c8-109e-4755-9454-66bb664fbc4a.jpg');
     height: 100vh;
     background-size: cover;
     background-position: center center;
    
  }
  .butt{
      border: solid white 2px;
      border-radius: 30px;
      padding: 10px 20px;
      font-size: 20px;
      font-weight: bold;
      background-color: #ffffff6e;
      color: white;
      cursor: pointer;
  }
  .butt:hover{
      padding: 15px 25px;
      font-size: 23px;
  }