body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.sty2{
    width: 100%;
  
    padding: 20px;
}
.intsty{
    padding: 10px 20px;
    width: 50%;
    outline: none;
    border: 2px solid white;
    
    transition: 0.3s;
    margin-bottom: 8px;
}
.intsty:focus{
    border: 2px solid #A9543F;
}
.log{
    display: flex;
    justify-content: center;
    align-items: center;
 
    margin-top: 40px;
}
@media screen and (max-width:768px){
  
  
   .sty2{
    width: 500px;
   }
   .butt2{
    padding: 5px 20px;
   }
}
