body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.parent{
    display: flex;
    justify-content: space-between;
    
    
    

}

.sty2{
   width: 75%;
    
    padding: 20px;
    margin-top: '20px';
}
.intsty{
    padding: 10px 20px;
    outline: none;
    border: 2px solid white;
    width: 75%;
    transition: 0.3s;
    margin-bottom: 8px;
}
.intsty:focus{
    border: 2px solid #A9543F;
}
.register{
    display: flex;
    justify-content: space-between;
   
    margin-top: 100px;
 
}
